* {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  outline: 0;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
  color: #E0A0A0;
}
h2 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
body {
  padding: 0px;
  margin: 3em;
  color: #555;
}
ul {
  list-style: none;
}
#kwskbox {
  position: absolute;
  left:250px;
  top:100px;
}
td {
  vertical-align: top;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
tr:last-child > td:last-child {
  border-bottom: none;
}
a, .a{
  margin: 1em;
  padding: 15px;
  padding-left: 0.5em;
  color: #666;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
a:hover, .a:hover {
  border-left: 0.5em #ccccff solid;
  padding-left: 1em;
  padding-right: 0em;
  background: #f6f9ff;
  color: #222;
  font-size:16px;
}

summary {
  margin: 0;
  padding: 15px;
  padding-left: 0;
  color: #666;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
}
details {
  margin: 1em;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}
summary:hover {
  background: #f6f9ff;
}
details[open] > summary {
    color: #222;
    position: relative;
}
details[open] > summary::after {
  content: '';
  border: 1px #222 solid;
  position: absolute;
  display: block;
  top: 54px;
  left: 3px;
  width: 0px;
  height: 100vh;
}
a.normal, .a.normal{
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  color: #FF8080;
}
a.normal:hover, .a.normal:hover{
  background: #f6f9ff;
  color: #222;
}
.new{
  position: relative;
}
.new:before{
  content: "NEW!";
  font-size: 10px;
  color: #EE2222;
  position: absolute;
  top: 0px;
  margin-left: -10px;
}

@media only screen and (max-width: 900px) {
  body {
    margin: 0.5em;
  }
}

