* {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  outline: 0;
}
body {
  padding: 0px;
  margin: 3em;
  color: #555;
}
ul {
  list-style: none;
}
#kwskbox {
  position: absolute;
  left:250px;
  top:100px;
}
td {
  vertical-align: top;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
tr:last-child > td:last-child {
  border-bottom: none;
}
h1 {
  font-size: 2em;
  color: #E0A0A0;
}
a, .a{
  display: block;
  text-decoration: none;
  margin: 1em;
  padding: 15px;
  padding-left: 0.5em;
  color: #999;
  cursor: pointer;
  overflow: hidden;
}
a:hover, .a:hover{
  border-left: 0.5em #ccccff solid;
  padding-left: 1em;
  padding-right: 0em;
  background: #f6f9ff;
  color: #222;
  font-size:16px;
}
a.normal, .a.normal{
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #FF8080;
}
a.normal:hover, .a.normal:hover{
  background: #eee;
  color: #222;
}
a.inline, .a.inline{
  display: inline;
  padding: 1em;
  margin: 1em;
}
a.inline:hover, .a.inline:hover{
  border: none;
  padding: 1em;
  margin: 1em;
}
.new{
  position: relative;
}
.new:before{
  content: "NEW!";
  font-size: 10px;
  color: #EE2222;
  position: absolute;
  top: 0px;
  margin-left: -10px;
}
